[Unit]
Description=ssr
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/python /home/rry/shadowsocksr/shadowsocks/local.py -c /home/rry/shadowsocksr/config.json start
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
